/* Reset de estilo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Estilos globais */
body {
    background-color: #e9d7e3;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
header {
    background-color: #0000ff;
    color: #fff;
    width: calc(100% - 40px); 
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
}


/* Container principal */
.container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    gap: 20px;
    padding: 0 20px;
    flex-direction: row-reverse; 
}


/* Sidebar */
.sidebar {
    flex: 1;
    background-color: #ff0000;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 10px;
}

.sidebar h2 {
    margin-bottom: 15px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #333;
}

/* Main */
main {
    flex: 3;
    background-color: #57ad7b;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

main h2 {
    margin-bottom: 20px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.item {
    background-color: #925dce;
    width: 150px; 
    height: 150px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-align: center;
}

/* Footer */
footer {
    background-color: #0e631e;
    color: #fff;
    width: calc(100% - 40px); 
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
}

